@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}
.bigbox h1{
    color: #2fccc2;
   font-size: 50px;
   flex-basis: 100%;
    /* margin: 20px; */
    /* padding: 0%; */
    /* font-family: 'Poppins' , sans-serif; */
    /* font-family: 'Lobster', cursive; */
}
.navbar{
    width: 85%;
    display: flex;
    align-items: center;
    margin: 20px auto;
}
.menu{
    flex: 1;
    align-items: center;
    text-align: right;
}
.menu img{
    width: 40px;
    margin-left:0px ;
}

.banner{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.slider{
    width: 100%;
    height: 100vh;
    position:absolute;
    top: 0;
}
#slideimg{
    width: 100%;
    height: 100%;
    animation: zoom 3s linear infinite;
}
@keyframes zoom {
    0%{
        transform: scale(1.2);
    }
    15%{
        transform: scale(1);
    }
    85%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.2);
    }
}
.bigbox{
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8));
    position: absolute;
    top: 0; 
}
/* 
.h11{
    margin-left: 30%;
    color: #52ed0a;
    text-align: center;
} */
.box{
   margin-top: 4.5%;
    margin-left: 36.2%;
    position: absolute;
    width: 380px;
    height: 420px;
    border-radius: 8px;
    overflow: hidden;
    
    /* background: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9)); */
}
.box::before
{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,#2fccc2,#2fccc2);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}
.box::after
{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,#2fccc2,#2fccc2);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;   
}
@keyframes animate
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
.form
{
    position: absolute;
    inset: 2px;
    border-radius: 8px;
    background: #28292d ;
    z-index: 10;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
}

.form h2{
    color: #2fccc2;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.1em;
}
.inputbox
{
    position: relative;
    width: 300px;
    margin-top: 35px;
}
.inputbox input{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px ;
    background: transparent;
    border: none;
    outline: none;
    color: #292020;
    font-size: 1em;
    letter-spacing: 0.05em;
    font-weight: 1000;
    z-index: 10;
}
.inputbox span{
    position: absolute;
    left: 0;
    padding: 20px 10px 10px;
    font-size: 1em;
    color: #8f8f8f;
    pointer-events: none;
    letter-spacing: 0.05em;
    transition: 0.5s;
}
.inputbox input:valid ~ span,
.inputbox input:focus ~ span
{
    color: #2fccc2;
    transform: translateX(-10px) translateY(-34px);
    font-size: 0.75em;
}
.inputbox i
{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #2fccc2;
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
}
 
.inputbox input:valid ~i,
.inputbox input:focus ~i
{
    height: 44px;
} 
 .links
{
    display: flex;
    justify-content: space-between;
}
.links a{
    margin: 10px 0;
    font-size: 0.75em;
    color: #8f8f8f;
    text-decoration: none;
} 
.links a:hover,
.links a:nth-child(2)
{
    color: #2fccc2;
}
input[type="submit"]
{
    border:none;
    outline : none ;
    background: #2fccc2;
    padding: 11px 25px;
    width: 100px;
    margin-top: 10px;
    border-radius: 4px;
    font-weight: 600;
    cursor : pointer;
}
input[type="submit"]:active
{
    opacity: 0.8;
}