* {
    margin: 0;
    padding: 0;
}

body {
    background: #55ffe5;
    font-size: 14px;

    font-family: 'Poppins', sans-serif;


}

.continer {
    width: 80%;
    margin: 50px auto;
}

.contact-box {
    background: white;
    display: flex;


}

.contact-left {
    flex-basis: 85%;
    padding: 40px 60px;

}

.contact-right {
    flex-basis: 45%;
    padding: 40px;
    background: #1c00b5;
    color: white;

}

h1 {
    margin-bottom: 20px;

}

.continer p {
    margin-bottom: 40px;


}

.input-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-row .input-group {
    flex-basis: 40%;

    display: block;
}

input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
}

textarea {
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}

label {
    margin-bottom: 6px;
    display: block;
    color: #1c00b5;
}

button {
    background: #1c00b5;
    width: 100px;
    border: none;
    outline: none;
    color: white;
    height: 35px;
    margin-top: 20px;
    border-radius: 30px;
    box-sizing: 0px 5px 15px 0px rgba(28, 0, 181, 0.3);
}

.contact-left h3 {


    color: #1c00b5;
    font-weight: 600;
    margin-bottom: 30px;

}

.contact-right h3 {



    font-weight: 600;
    margin-bottom: 30px;

}

tr td:first-child {

    padding-right: 20px;

}

tr td {

    padding-top: 20px;

}